/****Generics****/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Lato', 'sans-serif';
}
/****Utilies****/
.d-inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}
.wrapper{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/**** DISPLAY FUNCTIONS ****/
.display-functions{
    flex-basis: 45px;
    color: white;
    text-align: end;
}
.display-functions i{
    cursor: pointer;
    background-color: #4a4a4a;
    margin: 5px 3px;
    padding: 5px 6px;
    font-size: 12px;
    border-radius: 5px;
}

/**** CARD ****/
.card-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    overflow-y: auto;    
}

.card-item{
    width: 250px;
    height: 160px;
    margin:10px;
    color: white;
    position: relative;
}
.card-item:hover{
    opacity: 80%;
    border: 5px solid white;
}
.card-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text-item{
    position: absolute;
    bottom: 2px;
    background-color:#4a4a4a;
    font-size: 0.8em;
    padding: 3px 5px;
}

/**** NAVBAR ****/
.navbar{
    height:70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #222222;
    margin-top: 5px;
}
/*main-nav*/
.main-nav{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}
#share-screen i{
    color: limegreen;
}
/*left-nav*/
.left-nav{
    flex-basis: 25%;
}
button.btn{
    cursor: pointer;
    height: 50px;
    margin: 10px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn i:first-child{
    font-size: 2em;
    margin-bottom: 2px;
}
.options{
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.options i{
    font-size: 0.5em;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
.options i:hover{
    background-color: #a1a1a1;
}
.btn:hover{
    background-color: #a1a1a1;
}
/*right-nav*/
.right-nav{
    flex-basis: 25%;
    text-align: end;
}
.big-btn{
    height: 100%;
    width: 110px;
    background-color:#4a4a4a;
    color: red;
    border: none;
    cursor: pointer;
}
.big-btn:hover{
    filter: brightness(1.5);
}

@media screen and (max-width:1250px){
.navbar{
    height: 70px; 
    justify-content: space-around;  
    flex-wrap: nowrap; 
}
#polling, #record, #share-screen{
    display: none;
}
.big-btn{
    height: 70px;
    width: 70%;
}
.left-nav{
    flex-wrap:nowrap;
}
.main-nav{
    flex-wrap: nowrap;
}
}

@media screen and (max-width: 620px)
{
    .card-item{
        width: 180px;
        height: 350px;
        margin: 0;
    }
    .navbar{
        height: 70px; 
        justify-content: center;
        align-items: center;  
    }
    .fl-basis{
        flex-basis: auto;
    }
    #chat, #manage-partecipants,#breakout, #invite, .options{
        display: none;
    }
    .right-nav .big-btn{
        height: auto;
        background-color: red;
        color: white;
        border-radius: 10px;
        padding: 4px 6px;
    }
}